:root {
    /* RAI color palette 2 settings */
    --entity-border-color: var(--rai-dark-blue);
    --value-border-color: var(--rai-dark-blue);
    --role-border-color: var(--rai-dark-blue);
    --constraint-color: var(--rai-pink);
    --entity-text-color: var(--rai-dark-blue);
    --value-text-color: var(--rai-dark-blue);
    --predicate-text-color: var(--rai-dark-blue);
    --line-color: var(--rai-dark-grey);
}