/* Style for traversal mode */

.ormjs-tselected {
    filter: drop-shadow(0px 0px 4px rgb(212, 202, 62));
}

.ormjs-tneighbor {
    /*filter: drop-shadow(0px 0px 5px rgb(134, 87, 42));*/
}

.ormjs-thidden {
    /*filter: drop-shadow(0px 0px 5px rgb(18, 7, 82));*/
    display: none;
}

.ormjs-toverlay {
    display: none;
}