:root {
    /* RAI color palette 2 settings */
    --ojs-entity-border-color: var(--ojs-rai-dark-blue);
    --ojs-value-border-color: var(--ojs-rai-dark-blue);
    --ojs-role-border-color: var(--ojs-rai-dark-blue);
    --ojs-constraint-color: var(--ojs-rai-pink);
    --ojs-entity-text-color: var(--ojs-rai-dark-blue);
    --ojs-value-text-color: var(--ojs-rai-dark-blue);
    --ojs-predicate-text-color: var(--ojs-rai-dark-blue);
    --ojs-line-color: var(--ojs-rai-dark-grey);
}