/* Pop ups */

:root {
    /* Color */
    --pop-fill: rgb(255,255,255,0.95);
    --pop-border: var(--line-color);
    /* Dimensions */
    --pop-width: 300px;
    --pop-height: 300px;
    --pop-marg: 10px;
    --pop-text-width: 150px;
    --pop-text-size: 16px;
    /* Submit check */
    --pop-ch-width: 28px;
    --pop-ch-height: 20px;
    --pop-ch-marg: 4px;
    --pop-stroke: 4px;
    --pop-stroke-hover: 6px;
    /* Close X */
    --pop-close-sz: 15px;
}

.popup_group {
    cursor: grab;
}

.popup {
    fill: var(--pop-fill);
    stroke: var(--pop-border);
    stroke-width: var(--stroke-width);
    rx: var(--entity-rx-ry);
    ry: var(--entity-rx-ry);
}

.popup_content {
    margin: var(--pop-marg) var(--pop-marg) var(--pop-marg) var(--pop-marg);
    width: calc( var(--pop-width) - 2*var(--pop-marg) );
    height: calc( var(--pop-height) - 2*var(--pop-marg) );
    overflow: hidden;
}

.xclose {
    stroke: rgb(0, 0, 0,0.5);
    stroke-width: var(--pop-stroke);
    opacity: 0.3;
    cursor: pointer;
}

.xclose:hover {
    opacity: 1.0;
    stroke-width: var(--pop-stroke-hover);
}

.popup_form {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: calc( var(--pop-width) - 2*var(--pop-marg) );
    height: calc( var(--pop-height) - 2*var(--pop-marg) );
    overflow-x: hidden;
    overflow-y: scroll;
}

.popup_form form {
    margin-top: 0px;
    padding-top: 0px;
}

.popup_form input[type="text"] {
    border: none;
    width: var(--pop-text-width);
    font-family: 'Montserrat Light';
    font-size: var(--pop-text-size);
}

.popup_form input[type="text"]:focus {
    border-color: rbga(129, 218, 240, 1.0);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0), 0 0 8px var(--overlay-color);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0), 0 0 8px var(--overlay-color);
}

.popup_form input[type="radio"] {
    background-color: #fff;
    margin: 0 0.2em 0 0;
    font: inherit;
    color: var(--overlay-color);
    width: var(--font-size-lg);
    height: var(--font-size-lg);
    transform: translateY(-0.1em);
}

.popup_form input[type="radio"]:checked::before {
    transform: scale(1);
  }

.popup_form label {
    font-family: 'Montserrat';
    font-size: var(--font-size-lg);
}
.popup_form p {
    font-family: 'Montserrat Light';
    font-size: var(--font-size-lg);
    user-select: none;
    -moz-user-select:none;
    -webkit-user-select:none;
}

.popup_form h1 {
    font-family: 'Montserrat';
    font-size: var(--font-size-xl);
    margin-top: 0px;
    margin-bottom: var(--font-size-lg);
    text-align: center;
    line-height: 1;
    user-select: none;
    -moz-user-select:none;
    -webkit-user-select:none;
}

.submit_svg {
    position: relative;
    cursor: pointer;
    background: rgba(199, 238, 180, 0.3);
    fill: rgba(199, 238, 180, 0.3);
}

.spath {
    fill: none;
    stroke: rgba(146, 194, 122, 0.8);
    cursor: pointer;
}

.spath:hover {
    opacity: 1.0;
}

table, th, td {
    margin: auto;
}

tr {
    width: 1%;
}

td {
    vertical-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.left_col { /* I don't think they are 0 based */
    text-align: right;
 }

.right_col {
    text-align: left;
}

.right_col_small {
    text-align: left;
    font-size: var(--font-size-sm);
}

/* Right click style overrides */

.d3-context-menu-theme {
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: "Montserrat";
	font-size: var(--font-size-md);
	border: 1px solid #d4d4d4;
}

.d3-context-menu-theme ul li:hover {
	background-color: var(--overlay-color);
	color: #fefefe;
    cursor: pointer;
}

#svgcell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: rgb(104, 51, 51);
    justify-content: center;
    align-items: center;
}

td[colspan="2"].centered {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.poprbg {
    cursor: pointer;
}

/* Constraint popup */

.constraint_box {
    fill: rgba(255,255,255,0.0);
    stroke: rgba(255,255,255,0.0);
    stroke-width: calc(2*var(--stroke-width));
}

.constraint_box.selected {
    fill: rgba(255,255,255,0.0);
    stroke: var(--overlay-color);
    stroke-width: calc(2*var(--stroke-width));
}

.constraint_box.hovered {
    fill: var(--overlay-color);
    stroke: var(--overlay-color);
}

.popsvg {
    background: rgba(255,255,255,0.0);
    overflow-y: scroll;
}