/* Style for traversal mode */

.tselected {
    filter: drop-shadow(0px 0px 4px rgb(212, 202, 62));
}

.tneighbor {
    /*filter: drop-shadow(0px 0px 5px rgb(134, 87, 42));*/
}

.thidden {
    /*filter: drop-shadow(0px 0px 5px rgb(18, 7, 82));*/
    display: none;
}

.toverlay {
    display: none;
}