/*
    The style set here is for a simple web app and is not part of the core ORMJS 
    functionality.
 */

:root {
    /* Div sizes */
    --topbar-h: 40px;
    --optionbar-h: 60px;
    --canvas-w: 65vw;
    --code-w: 35vw;
    --margin-h: 10px;
}

#topbar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--topbar-h);
    width: calc( var(--canvas-w) - var(--margin-h) );
    padding-left: var(--margin-h);
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: var(--canvas-w);
    height: calc( 100vh - var(--margin-h) );
    background: #eee;
}

#code {
    position: absolute;
    top: 0px;
    left: var(--canvas-w);
    font-size: 14px;
    width: var(--code-w);
    height: calc( 100vh - var(--margin-h) );
    background: rgb(73, 73, 73);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#rel_options {
    position: relative;
    top: 0px;
    left: 0px;
    font-family: 'Montserrat';
    color: #000;
    background-color: #fff;
    font-size: 1em;
    width: var(--code-w);
    height: var(--optionbar-h);
    padding: var(--margin-h);
    overflow: hide;
}

#rel {
    position: relative;
    /*top: calc( var(--optionbar-h) + 2*var(--margin-h) );*/
    top: 0px;
    left: 0px;
    font-family: 'Courier New', monospace;
    color: rgb(235, 235, 235);
    /*background-color:rgb(27, 71, 97,0.7);*/
    font-size: 1em;
    width: var(--code-w);
    height: calc( 100vh - 2*var(--margin-h) - var(--optionbar-h) );
    padding: 10px;
    overflow: scroll;
}

#downloadSvgButton {
    cursor: pointer;
}

#uploadSvgButton {
    cursor: pointer;
}

input[type="range"] {
    transform: translateY(0.3em);
}